.botonFlotante{
    background-color: rgb(105, 21, 105);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
  }